.app {
    position: relative;
    padding: 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app-container {
    max-width: 1440px;
    margin: auto;
    width: 100%;
    height: 100%;
    background: #10222E;
    border-radius: 10px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.main-container {
    position: relative;
    top: 0;
    left: 290px;
    width: calc(100% - 290px - 70px);
    height: 100%;
    transition: filter 1s ease-in-out, transform 1s ease-in-out;
}

.main-container.active {
    transform: translateX(-140px);
    filter: brightness(75%);
}

.main-content {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("images/BG_Rugby.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 34, 46, 0.9);
}