.profile-body {
    width: 100%;
    height: calc(100% - 235px - 60px);
    overflow-x: hidden;
    overflow-y: scroll;
}

.profile-body::-webkit-scrollbar {
    display: none;
}

.profile-body-content {
    width: 100%;
    padding: 20px 30px;
}

.profile-body-about {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-body-about-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-body-about-item span {
    font-size: 0.8rem;
}

.profile-body-about-item span:nth-child(1) {
    font-weight: 400;
}

.profile-body-about-item span:nth-child(2) {
    font-weight: 300;
    filter: brightness(75%);
}

.profile-body-speak {
    margin-top: 20px;
    padding: 20px 0;
    border: 2px solid #1a3648;
    border-radius: 3px;
    border-left-color: transparent;
    border-right-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.profile-body-speak-item {
    width: 70px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.profile-body-speak-item span{
    font-size: 0.85rem;
}

.profile-body-progra {
    padding: 20px 0;
}

.profile-body-progra-item {
    padding: 5px 0;
}

.progra-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progra-container span {
    font-size: 0.8rem;
    font-weight: 400;
}

.progra-container span:nth-child(2) {
    font-weight: 300;
    filter: brightness(75%);
}

.progress-bar-container {
    margin-top: 3px;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #10222E;
}

.progress-bar {
    position: relative;
    width: 0;
    height: 4px;
    border-radius: 4px;
    background-color: #FFA500;
    animation: progressBar 2s cubic-bezier(0.42, 0, 0.28, 0.9) forwards;
}

@keyframes progressBar {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}