.profile-body {
    width: 100%;
    height: calc(100% - 235px - 60px);
    overflow-x: hidden;
    overflow-y: scroll;
}

.profile-body::-webkit-scrollbar {
    display: none;
}

.profile-body-content {
    width: 100%;
    padding: 20px 30px;
}

.profile-body-about {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-body-about-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-body-about-item span {
    font-size: 0.8rem;
}

.profile-body-about-item span:nth-child(1) {
    font-weight: 400;
}

.profile-body-about-item span:nth-child(2) {
    font-weight: 300;
    filter: brightness(75%);
}

.profile-body-speak {
    position: relative;
    height: 135px;
    margin-top: 20px;
    padding: 20px 0;
    border: 2px solid #1a3648;
    border-radius: 3px;
    border-left-color: transparent;
    border-right-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.profile-body-speak.active {
    height: 240px;
}

.profile-body-speak-item {
    width: 70px;
    height: 90px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    transition: opacity 1s linear;
}

.profile-body-speak-item.active {
    opacity: 1;
}

#profile-body-speak-item-down {
    margin-top: 6px;
}

.profile-body-speak-item span{
    font-size: 0.85rem;
}

.profile-btn-more-lang {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(75%);
    cursor: pointer;
    transition: filter 0.5s ease-in-out;
}

.profile-btn-more-lang.sub {
    filter: brightness(100%);
}

.profile-btn-more-lang:hover {
    filter: brightness(100%);
}

.profile-btn-more-lang span {
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.profile-btn-more-lang.sub span {
    background-color: #FFA500;
}

.profile-btn-more-lang span:nth-child(2) {
    transform: rotate(90deg);
}

.profile-btn-more-lang:hover span:nth-child(1) {
    transform: rotate(-90deg);
}

.profile-btn-more-lang:hover span:nth-child(2) {
    transform: rotate(0deg);
}

.profile-btn-more-lang.sub span:nth-child(2) {
    transform: rotate(0deg);
}

.profile-btn-more-lang.sub:hover span{
    background-color: #ff5d5d;
}

.profile-btn-more-lang.sub:hover span:nth-child(1) {
    transform: rotate(45deg);
}

.profile-btn-more-lang.sub:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.profile-body-progra {
    position: relative;
    height: 202px;
    padding: 20px 0;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.profile-body-progra.active {
    height: 363px;
}

.profile-body-progra-item {
    padding: 5px 0;
    opacity: 0;
    transition: opacity 1s linear;
}

.profile-body-progra-item.active {
    opacity: 1;
}

.progra-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progra-container span {
    font-size: 0.8rem;
    font-weight: 400;
}

.progra-container span:nth-child(2) {
    font-weight: 300;
    filter: brightness(75%);
}

.progress-bar-container {
    margin-top: 3px;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #10222E;
}

.progress-bar {
    position: relative;
    width: 0;
    height: 4px;
    border-radius: 4px;
    background-color: #FFA500;
    animation: progressBar 2s cubic-bezier(0.42, 0, 0.28, 0.9) forwards;
}

@keyframes progressBar {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.profile-body-skills {
    width: 100%;
    padding: 20px 0;
    border: 2px solid #1a3648;
    border-radius: 3px;
    border-left-color: transparent;
    border-right-color: transparent;
}

.soft-skill {
    display: flex;
    align-items: center;
}

.soft-skill svg {
    fill: #FFA500;
}

.soft-skill span {
    font-size: 0.75rem;
    font-weight: 500;
}

.profile-body-download {
    width: 100%;
    padding: 10px 0;
}

.profile-body-download-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-body-download-btn span {
    font-size: 0.75rem;
    font-weight: 500;
    margin-right: 0.3rem;
    color: white;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.profile-body-download-btn:hover span {
    color: #FFA500;
}

.profile-body-download-btn svg {
    fill: white;
    transform: scale(0.65);
    cursor: pointer;
    transition: fill 0.5s ease-in-out;
}

.profile-body-download-btn:hover svg {
    fill: #FFA500;
}

.profile-body-download-btn svg path {
    cursor: pointer;
}