.profile {
    position: absolute;
    width: 290px;
    height: calc(100% - 30px);
    background-color: #122735;
    border-radius: 10px;
    box-shadow: 4px 0 8px rgba(16, 34, 46, 0.5);
    overflow: hidden;
}