.about {
    position: relative;
    top: 0;
    left: 290px;
    width: calc(100% - 290px - 70px);
    height: 100%;
    transition: filter 1s ease-in-out, transform 1s ease-in-out;
}

.about.active {
    transform: translateX(-140px);
    filter: brightness(75%);
}

.about-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("images/BG_Rugby.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 34, 46, 0.9);
}

.about-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.about-content::-webkit-scrollbar {
    display: none;
}

.about-head {
    position: relative;
    width: 100%;
    height: 300px;
    padding: 50px;
    border-radius: 10px;
    background-image: url("images/matrix.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3);
}

.about-head::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 34, 46, 0.5);
}